@media screen and (max-width:1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        display: none;
        align-items: center;
        padding-top: 30px;
        width: 100%;
        flex-direction: column;
    }
    .navbar_menu .dep1 li{
        margin-left: 0;
    }

    .navbar_menu li {
        font-size: 20px;
        padding:8px 0px 8px 0px;
        margin:10px 0 0px 0 ;
        width: 100%;
        text-align: center;
    }

    .navbar_menu li:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.05);
    }

    .navbar_login {
        display: none;
        margin: 0;
        padding: 40px 0 0 0;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar_login li {
        align-items: center;
        padding: 7px 20px 7px 20px;
        font-size: 18;
    }

    .navbar_login li:nth-child(2){
        padding: 7px 0px 7px 0px;
    }

    .navbar_login li:hover {
        background-color: rgba(0,0,0,0.05);
    }
    
    .navbar_login li:nth-child(2):hover{
        background-color: transparent;
    }

    .toggleBtn {
        display: block;
        z-index: 2;
    }

    .navbar_menu.active,
    .navbar_login.active {
        display: flex;
    }
    
}