* {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    font-family: polyfont;
}

html {
    font-size: 10px;
}

a {
    color : inherit;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

/*navbar*/


.navbar {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px 10px 40px;
}

.navbar_logo {
    font-size: 40px;
    letter-spacing: -1px;
    z-index: 5;
}

.navbar_logo:hover {
    color: lightgrey;
}

.navbar_menu {
    white-space: nowrap;
    z-index: 3;
}

.navbar_menu .dep1 li{
    vertical-align: top;
    margin-left: 80px;
    float: left;
    font-size: 22px;
    text-align: center;
}

.navbar_menu .dep1 li:hover {
    color: lightgray;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.navbar_menu .dep1 li:active > .dropdown {
    display: block;
}

.navbar_login li:active {
    display: flex;
    color: lightgray;
}

.navbar_login {
    white-space: nowrap;
    z-index: 3;
}

.navbar_login li {
    margin-left: 18px;
    font-size: 18px;
    text-align: center;
    float: left;
}

.toggleBtn {
    display: none;
    position: absolute;
    top: 43px;
    right: 30px;
}

/* footer */
footer {
    background:rgba(0,0,0,0.3);
}

.footer {
    text-align: center;
    padding: 5px 50px 25px 50px;
}
.footer li {
    color: white;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding: 20px 7px 0 10px;
    margin: 0 35px;
    white-space:nowrap;
}

.footer li:hover {
    color: lightgray;
}

.footer address {
    color: #333;
    padding-top: 20px ;
    font-size: 11px;
}


.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3.5rem;
}

.board_title p {
    margin-top: 12px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background-color: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    font-size: 0;
    border-bottom: 1px solid #ddd;
}

.board_list > div.top {
    border-bottom:  1px solid #ddd;
}

.board_list > div:last-child {
    border-bottom:  2px solid #999;
}

.board_list > div > div {
    font-size: 1.4rem;
    padding: 15px 0;
    text-align: center;
    display: inline-block;   
}

.board_list > div.top > div  {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    line-height: 100%;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    vertical-align: middle;
    box-sizing: border-box;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dotted #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 13px;
    background-color: #ddd;
    display: block;
    top: 1px;
    left: 1px;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    font-size: 1.1rem;
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dotted #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .cont {
    border-bottom: 2px solid #000;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt  {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);  
}


.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width : 80%;   
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
